<nav class="navbar navbar-defualt navbar-bottom" style="height:277px; padding-bottom: 0px">
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <h4>eShop</h4> <a href="#">Payments</a>
            <br> <a href="#">Contact Us</a>
            <br> <a href="#">About Us</a>
            <br> <a href="#">Careers</a>
            <br> <a href="#">eShop Stories</a>
            <br> <a href="#">Sell on eShop</a>
            <br> </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-1">
            <h4>HELP</h4> <a href="#">Payments</a>
            <br> <a href="#">Saved Cards</a>
            <br> <a href="#">Shipping</a>
            <br> <a href="#">Cancellation & Returns</a>
            <br> <a href="#">FAQ</a>
            <br> <a href="#">Report Infringement</a>
            <br> </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-1">
            <h4>MISC</h4> <a href="#">Online Shopping</a>
            <br> <a href="#">Affiliate Program</a>
            <br> <a href="#">Gift Card</a>
            <br> <a href="#"> Subscriptions</a>
            <br> </div>
    </div>
    
</nav>
