<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <div class="page-header">
            <h1 class="logo"><img src="images/Eshop.png" style="height:60px"> Sign in</h1> </div>
        <div>
            <form action="" method="post">
                <div style="height:200px">
                    <input id="textinput" name="userName" type="text" placeholder="Enter User Name" class="form-control input-md" style="width:250px" required>
                    <br>
                    <input id="textinput" name="password" type="password" placeholder="Enter Password" class="form-control input-md" style="width:250px" required>
                    <br>
                    <div>
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small> </div>
                    <br>
                    <button id="singlebutton" name="login" value="login" class="btn btn-warning pull-left" type="submit">Log In</button> <a href="register.template.html"><small style="margin-left:10px">Register here</small></a> </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
