<html>

<head>
   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
     <link href="templateCss/register.css" rel="stylesheet">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <link href="Eshop.png" rel='icon'>
     <title>eShop Registration</title>
    </head>
     


<body>
    <div class="testbox" style="height:640px">
        <h1><img src="Eshop.png" style="height:60px"> Registration</h1>
        <form action="LoginController" method="post">
            <hr>
            <input type="text" name="fname" id="name" placeholder="First Name" required/>
            <input type="text" name="lname" id="name" placeholder="Last Name" required/>
            <input type="text" name="userName" id="name" placeholder="User Name" required/>
            <input type="password" name="password" id="name" placeholder="Password" required/>          
            <input type="text" name="street" id="name" placeholder="Street Address" required/>
            <input type="text" name="city" id="name" placeholder="City" required/>
            <input type="text" name="state" id="name" placeholder="State" required/>
            <input type="text" name="zip" id="name" placeholder="Zip" required/><br><br>
                    
            <button  class="btn btn-warning pull-left" type="submit" name="register" value="register">Register</button> 
         </form>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>