p{
    border: 2px solid #c3bfbf;
}
table,td{
    border: 2px solid #c3bfbf;
    font-size: 18px;
}

.row-header{
    font-weight: bold;
    text-align: center;
}

#lbltxt{
    color: white;
    background-color: coral;
}

textarea{
    border-radius: 4px;
}