p{
    border: 2px solid #c3bfbf;
}
table,td{
    border: 2px solid #c3bfbf;
    font-size: 18px;
}

#row-header{
    font-weight: bold;
    text-align: center;
    
}

#lblText{
    color: white;
    background-color: orange;
}

textarea{
    border-radius: 5px;
}