<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>eShop</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href='WebContent/css/style.css' rel='stylesheet'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> </head>
<link href="Eshop.png" rel='icon'>

<body>
    
    <div class="row" >
        <div  class="col-sm-4"></div>
        <div  class="col-sm-3">
        <div class="page-header">
            <h1 class="logo"><img src="Eshop.png" style="height:60px"> Sign in</h1> </div>
        <div>
            <form action="" method="post">
                <div style="height:200px">
                    <input id="textinput" name="userName" type="text" placeholder="Enter User Name" class="form-control input-md" style="width:250px" required>
                    <br>
                    <input id="textinput" name="password" type="password" placeholder="Enter Password" class="form-control input-md" style="width:250px" required>
                    <br>
                    <div>
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small> </div>
                    <br>
                    <button id="singlebutton" name="login" value="login" class="btn btn-warning pull-left" type="submit">Log In</button> <a href="register.template.html"><small style="margin-left:10px">Register here</small></a> </div>
            </form>
        </div>
            </div>
        <div  class="col-sm-4"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>