body{

background-image: url(images/background_page.png);
background-repeat: repeat-x;

}

.wrapper {
    font-family: cambria;
    border: 2px solid #585858;
    margin: auto;
    width: 960px;
    
    
}

.main p {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
}


.main {

border: 2px solid #585858;
float: right;
width: 700px;
margin: 0 10px 0 0;
/* margin: 10px 470px 10px 10px; */
padding-top: 5px;

}

.menu {

float:left;
width:210px;
border: 2px solid #585858;
margin-left: 20px;
/* margin: 10px 10px 10px 500px; */
    



}

.copyright {
margin-left: 370px;
clear: both;

}

.banner{
   
   width: 950px;
   
}


/*
.clear:before, .clear:after{
    content: "";
    display: table;
}

.clear:after{
    clear:both;
}

.clear{
    zoom:1;
}
*/
/* This will give the font value to the entire page and all elements */
/*
body{
    font-family: Helvetica, Arial, sans-serif;
}
*/
/*A margin bottom will give spacing between header and content area*/

/*
#header {
    background-color: #708090;
    margin-bottom: 20px;
}

#header h1 {
    margin-top: 0;
    font-size:  3em;
    color: white;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 10px;
}

#nav {
    background-color: rgb (95,95,25);
    border-left: none;
    border-right: none;
}

#nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a:hover {
    background-color: rgb (120,43,78);
}

.aside h2{
    font-size: 1.3em;
    margin-top: 10px;
}

.aside h3{
    font-size: 1.1em;
    margin-top: 15px;
}

.aside p, .aside li {
    font-size: 75em;
    margin-top: 10px;
}

.main h2 {
    font-size: 2em;
    margin-top: 10px;
}

.main h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.main p {
    margin-bottom: 15px;
}

#footer {
    margin-top: 15px;
    font-size: .8em;
    padding: 10px 10px 30px 10px;
    background-color: black;
    color: rgb (104, 124, 204);
}

#footer a {
    color :white;
}

*/

