<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/Eshop.png"> </head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #e0d6dc">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="images/Eshop.png" style="height:45px" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="black"><b>Shop Department</b></font> 
              <span class="caret" ></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Men's Store</a></li>
                            <li><a href="#">Women's Store</a></li>
                            <li><a href="#">Kid's Store</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Foot Wear</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search here"> </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="images/cart.png" style="height:30px" /><span style="color:black"><b>Cart</b></span> </a>
                    </li>
                    <li>
                        <a href="templates/login.template.html">
                            <button class="btn btn-default btn-warning">Log in</button>
                        </a>
                    </li>
                    <li><a href="templates/register.template.html"><small style="color:#e87108">Register here</small></a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="black"><b>Your Account info</b></font> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Your Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Help& Support</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <br>
    <br>






    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="margin-top:30">
            <div class="item active">
                <img src="images/a1.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="images/a3.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="images/a4.jpg" alt="Flower">
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="row">

        <div class="col-sm-2" style="margin-top:10px">
            <img src="images/w1.jpg">

        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <img src="images/w2.jpg">

        </div>
        <div class="col-sm-2" style="margin-top:10px">

            <img src="images/w3.jpg">
        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <img src="images/w1.jpg">

        </div>

        <div class="col-sm-2" style="margin-top:10px">
            <img src="images/w2.jpg">

        </div>
        <div class="col-sm-2" style="margin-top:10px">

            <img src="images/w3.jpg">
        </div>



    </div>



    <nav class="navbar navbar-defualt navbar-bottom">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <h4>eShop</h4> <a href="#">Payments</a>
                <br> <a href="#">Contact Us</a>
                <br> <a href="#">About Us</a>
                <br> <a href="#">Careers</a>
                <br> <a href="#">eShop Stories</a>
                <br> <a href="#">Sell on eShop</a>
                <br> </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-1">
                <h4>HELP</h4> <a href="#">Payments</a>
                <br> <a href="#">Saved Cards</a>
                <br> <a href="#">Shipping</a>
                <br> <a href="#">Cancellation & Returns</a>
                <br> <a href="#">FAQ</a>
                <br> <a href="#">Report Infringement</a>
                <br> </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-1">
                <h4>MISC</h4> <a href="#">Online Shopping</a>
                <br> <a href="#">Affiliate Program</a>
                <br> <a href="#">Gift Card</a>
                <br> <a href="#"> Subscriptions</a>
                <br> </div>
        </div>
        <br>
        <br>
        <div style="padding:0px 100px">
            <p> <small>
                        © eShop™  Copyright is a legal right created by the law of a country that grants the creator of an original work exclusive rights for its use and distribution. This is usually only for a limited time. The exclusive rights are not absolute but limited by limitations and exceptions to copyright law, including fair use. A major limitation on copyright is that copyright protects only the original expression of ideas, and not the underlying ideas themselves.[1]

                        Copyright is a form of intellectual property, applicable to certain forms of creative work. Under US copyright law, legal protection attaches only to fixed representations in a tangible medium. The Berne Convention allows member countries to decide whether creative works must be "fixed" to enjoy copyright. Article 2, Section 2 of the Berne Convention states: "It shall be a matter for legislation in the countries of the Union to prescribe that works in general or any specified categories of works shall not be protected unless they have been fixed in some material form." Some countries do not require that a work be produced in a particular form to obtain copyright protection. For instance, Spain, France, and Australia do not require fixation for copyright protection. The United States and Canada, on the other hand, require that most works must be "fixed in a tangible medium of expression" to obtain copyright protection.[2] U.S. law requires that the fixation be stable and permanent enough to be "perceived, reproduced or communicated for a period of more than transitory duration." Similarly, Canadian courts consider fixation to require that the work be "expressed to some extent at least in some material form, capable of identification and having a more or less permanent endurance."[2] It is often shared among multiple authors, each of whom holds a set of rights to use or license the work, and who are commonly referred to as rightsholders.[3] These rights frequently include reproduction, control over derivative works, distribution, public performance, and "moral rights" such as attribution.[4]

             </small> </p>
        </div>
        <div class="container"> </div>
    </nav>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
