#main{
    border: 2px solid black;
    clear: both;
    text-align: center;
}

#navLinks{
    float: left;
    border: 2px solid black;
    width: 5%;
    margin: 10px;
    height: 20%;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none; 
    font-size: 15px;  
}

table{
    font-size: 20px;
    padding: 20px;
}

#content{
    float:right;
    border: 2px solid black;
    width: 83%;
    margin: 10px;
    height: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.clear-fix:after,
.clear-fix:before{
    display: table;
    content: "";   
}   

.clear-fix:after{
    clear:both;
} 