table {
    border: 2px solid gray;
    margin: auto 100px;
    background-color: lightblue;
    border-collapse: separate;
}
td {
    border: 1px solid black;
    margin-top: 0px;
}
td:nth-child(2) h2 {
    border: 1px solid gray;
    margin-top: -131px;
}
.heading {
    border: 1px solid gray;
    margin-top: 0px;
}
img {
    float: left;
    margin-top: 0px;
}
img:before,
img:after {
    content: "";
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
div {
    background-color: orange;
    text-decoration-color: white;
    font-style: italic;
    font-size: 14px;
    clear: both;
}
p {
    font-style: italic;
    font-size: 14px;
}
textarea {
    resize: none;
    display: block;
    border-radius: 4px;
}
.names {
    display: block;
}
label {
    font-weight: bold;
}
ul li {
    font-weight: bold;
}
